<%- layout("./boilerplate") %>

<div class="homecontainer">
    <!-- <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary startbutton" type="button">Start</button>
      </div> -->
      <form action="/game" method="get">
      <button type="submit" class="startbutton">Start</button>
      </form>
</div>